<div id="top_nav">
	<div id="tab">
		<ul>
			<li><a href="http://www.test.vedrov.ru/samokleyka/index.php"><span>Главная</span></a></li>
			<li><a href="http://www.test.vedrov.ru/samokleyka/blog"><span>Блог</span></a></li>
			<li><a href="http://www.test.vedrov.ru/samokleyka/polezno.php"><span>Услуги</span></a></li>
			<li><a href="http://www.test.vedrov.ru/samokleyka/info.php"><span>Что это такое?</span></a></li>
			<li><a href="http://www.test.vedrov.ru/samokleyka/support.php"><span>Инструкция по наклеиванию</span></a></li>
			<li><a href="http://www.test.vedrov.ru/samokleyka/oplata.php"><span>Оплата</span></a></li>
			<li><a href="http://www.test.vedrov.ru/samokleyka/dostavka.php"><span>Доставка</span></a></li>
			<li><a href="http://www.test.vedrov.ru/samokleyka/contacts.php"><span>Контакты</span></a></li>
		</ul>
	</div>
</div>
