<input type="hidden" name="color" value="Полноцветный постер">
<label>Материал:</label>
<p>- Пластик ПВХ 3 мм.<br>
- Полноцветная печать <select name="mat" class="mat"><option value="1"  alt="0.0000">матовая </option><option value="2"  alt="0.0000">глянцевая </option></select><br>
- Рамка Nelson <select name="mat2" class="mat2"><option value="1"  alt="0.0000">серебряная </option><option value="2"  alt="0.0000">золотистая </option></select><br>
- Стекло 1 мм.<br>
</p>
<label>Положение:</label><select name="pol" class="change-side"><option value="57"  alt="0.0000">нормальное </option><option value="58"  alt="0.0000">зеркальное </option></select>