<div class="grid_3" class="container_12">
			
<div id="menu">
	<div id="tab2">
		<ul>
			<li><a href="http://www.samokleyka.net/albom1.php"><span>Абстракции</span></a></li>
			<li><a href="http://www.samokleyka.net/albom2.php"><span>Растения</span></a></li>
			<li><a href="http://www.samokleyka.net/albom3.php"><span>Детские</span></a></li>
			<li><a href="http://www.samokleyka.net/albom4.php"><span>Здания</span></a></li>
			<li><a href="http://www.samokleyka.net/albom5.php"><span>Живность</span></a></li>
			<li><a href="http://www.samokleyka.net/albom7.php"><span>Еда</span></a></li>
			<li><a href="http://www.samokleyka.net/albom8.php"><span>Разное</span></a></li>
			<li><a href="http://www.samokleyka.net/albom6.php"><span>Автомобилисту</span></a></li>
			<li><a href="http://www.samokleyka.net/albom9.php"><span>Двухцветные</span></a></li>
			<li><a href="http://www.samokleyka.net/albom10.php"><span>Полноцветные</span></a></li>
			<li><a href="http://www.samokleyka.net/albom11.php"><span>На ноутбуки</span></a></li>
			<li><a href="http://www.samokleyka.net/albom12.php"><span>Постеры</span></a></li>
			<li><a href="http://www.samokleyka.net/albom13.php"><span>Распродажа</span></a></li>
			<li><a href="http://www.samokleyka.net/albom14.php"><span>Текст</span></a></li>
			<li><a href="http://www.samokleyka.net/uslugi/all.php"><span>Разные услуги</span></a></li>


		</ul>
		<br>
<a href="https://siteheart.com/webconsultation/23821?byhref=1&s=1" target="siteheart_sitewindow_23821" onclick="o=window.open;o('https://siteheart.com/webconsultation/23821?s=1', 'siteheart_sitewindow_23821', 'width=550,height=400,top=30,left=30,resizable=yes'); return false;"><img src="http://siteheart.com/webindicator/image/1272367158?ent=23821&company=23821"  border="0" alt="SiteHeart" /></a><br>
<a href="http://www.samokleyka.net/polezno/info2_2.php"><img src="http://www.samokleyka.net/images/baner_left.jpg"  border="0" alt="Индивидуальная наклейка по Вашему эскизу" /></a>
<a href="http://flsticker-penza.ru"><img src="http://www.samokleyka.net/images/banner.jpg"  border="0" alt="Наклейки на цветы" /></a>
	</div>
</div>

</div>

